*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    margin: 20px 0px;
    border: solid black 2px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja-padre{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0px;
}

.caja-acordion{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    border: 2px solid black;
    background-color: black;
    width: 95%;
    height: 2px;
}

p{
    padding: 0px 100px;
    width: 90%;
    height: auto;
}

.caja-par{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 5px 0px;
}

.social{
    background-color: rgb(181, 181, 181);
    width: 20%;
    height: 150px;
}

.img-perso{
    background-color: transparent;
    width: 100%;
    height: 65%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-perso img{

    width: 130px;
    height: auto;
}

.social-icon{
    background-color:transparent;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}

.social-icon img{
    width: 30px;
    height: auto;
}

.border, border-info{
    border: solid 10px;
}

.caja-impar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 5px 0px;
}